<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" intial-scale="1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Failed</title>
</head>
<body>
    <div class="navbar">
    <div class="nav-left">
        <h2>🍔 FoodieFlow</h2>
    </div>
    <div class="nav-right nav-actions">
        <button onclick="history.back()" class="btn-nav-primary">
            Back
        </button>
    </div>
</div>
    <h3>Sign-In Failed</h3>
    <p>Invalid username or password. Please Try Again.</p>
</body>
</html>