<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
   <div class="navbar">
    <div class="nav-left">
        <h2>🍔 FoodieFlow</h2>
    </div>
    <div class="nav-right nav-actions">
        <button onclick="history.back()" class="btn-nav-primary">
            Back
        </button>
    </div>
</div> 

  <div class="container">
    <div class="header-flex">
        <h1>Manage Restaurants</h1>
           </div>

    <div class="card-grid">
        {% for r in restaurantList %}
        <div class="card">
            <img src="{{ r.picture }}" alt="{{ r.name }}">
            <div class="card-body">
                <h3 class="card-title">{{ r.name }}</h3>
                <p class="text-muted">{{ r.cuisine }} • ⭐ {{ r.rating }}</p>
                
                <div class="nav-right nav-actions">
    <a href="{% url 'open_update_restaurant' r.id %}" class="btn-admin">
        Edit
    </a>

    <a href="{% url 'open_update_menu' r.id %}" class="btn-admin">
       Add 
    </a>

    <a href="{% url 'delete_restaurant' r.id %}"
       class="btn-admin btn-admin-danger"
       onclick="return confirm('Are you sure?')">
        Delete
    </a>
</div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>