<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
    <div class="nav-left">
        <h2>🍔 FoodieFlow</h2>
    </div>
    <div class="nav-right nav-actions">
        <button onclick="history.back()" class="btn-nav-primary">
            Back
        </button>
    </div>
</div> 

    <h1>Welcome, {{ user.username }}!</h1>
    <p>You have successfully signed in.</p>
    <a href="/open_add_restaurant">Add New Restaurant</a>
</body>
</html> -->